@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.groupe_1 {
    display: flex;
    justify-content: space-evenly;
}

.groupe_2 {
    display: flex;
    justify-content: space-evenly;
}

.groupe_3 {
    display: flex;
    justify-content: space-evenly;
}

#container {
    background-color: #29347b;
    font-family: Shadows Into Light, cursive;
    width: 60%;
    margin: auto;
    text-align: center;
}

.chats {
    color: #ffffff;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

@media (max-width: 960px) {
    #container {
        width: 100%;
    }

    .img {
        width: 100%;
    }

    section>div {
        width: 50%;
    }
}

@media (max-width: 500px) {
    section>div {
        width: 100%;
    }
}

