* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
/* pour initialiser toutes les  balises sut tous les nagigateurs */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

  vertical-align: baseline;
  text-align: center;
}

.triangle {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 120px solid rgba(229, 63, 111, 0.7);
  border-left: 120px solid transparent;
  position: relative;
  /* left: 0px; */
  bottom: 134px;
}

.triangle img {
  width: 250px;
}

.fleche {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-right: 0.3em solid #e53f6f;
  border-top: 0.3em solid #e53f6f;
  transform: rotate(125deg) skewY(20deg);
  /* position: relative;
       left:calc(50% - 20px); */
}

.container {
  width: 1200px;
  margin: 0 auto;
}
body {
  font-family: "Caveat Brush", cursive;
  margin: auto;
  width: 1200px;
}
.asperge {
  /* transform: scaleX(-1); on peut utiliser aussi scaleX avec valeur -1 pour ne pas augmenter la taille et juste changer le sens de l'image*/
  transform: rotateY(
    180deg
  ); /*transformer l'image en rotation sur l'axe Y de 180 degre*/
}

header {
  background-image: url(../consignes/img/banner_wood.png);
  padding-bottom: 54px;
  height: 500px;
}

li > a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  display: flex;
}

nav {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  height: 300px;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.story {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.asperge {
  transform: scaleX(-1);
  width: 800px;
  height: 500px;
}

.fare {
  display: flex;
  align-items: center;
}

.savon {
  width: 900px;
  height: 550px;
}

.graine {
  translate: 95px -100px;
}

.fresh {
  translate: -50px 50px;
}

.local {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.moule {
  width: 800px;
  height: 500px;
}

.graine_2 {
  translate: -110px -30px;
}

.distil {
  translate: 80px 100px;
}

li {
  margin: 10px;
}

.motif {
  width: 1200px;
  height: auto;
}

.soir {
    translate: -460px -540px;
}

.icons {
    translate: 460px -600px;
    color: #e53f6f;
}

.margin {
    margin-top: 10px;
}

hr {
    border: 6px solid #e53f6f;
    width: 50px;
}